/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Fallin' Rocks */
body {
  background-color: #eee;
  background: url(../img/geometry.png);
  color: #956C1F;
  font-family: 'Geo', sans-serif;
  margin: 15px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

li {
  display: inline-block;
}

button {
  background-color: #A3906D;
  border: none;
  border-radius: 3px;
  color: #FFFBF5;
  padding: 10px 15px;
}

button:hover {
  background-color: #956C1F;
  color: #FFFBF5;
  cursor: pointer;
}

canvas {
  border: 2px solid #A3906D;
}